<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="tech.petrepopescu.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <JsonLayout compact="true" complete="false" eventEol="true" properties="true" /> -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msk - %X%n"/>
        </Console>
    </Appenders>
    <Loggers>

        %{ for logger, level in loggers }
        <Logger name="${logger}" level="${level}" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        %{ endfor ~}

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
